In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [109]:
df = pd.read_csv('netflix_titles.csv')
df.iloc[5453:5458,:]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5453,s5454,Movie,Sebastian Maniscalco: Stay Hungry,Rik Reinholdtsen,Sebastian Maniscalco,United States,"January 15, 2019",2019,TV-MA,65 min,Stand-Up Comedy,Sebastian Maniscalco brings an acerbically uni...
5454,s5455,Movie,Sebastian Maniscalco: What's Wrong with People?,Manny Rodriguez,Sebastian Maniscalco,United States,"September 17, 2019",2012,TV-MA,76 min,Stand-Up Comedy,With his uproarious tirade on modern behavior ...
5455,s5456,Movie,Sebastian Maniscalco: Why Would You Do That,Joe DeMaio,Sebastian Maniscalco,United States,"August 6, 2019",2016,TV-MA,63 min,Stand-Up Comedy,Sebastian Maniscalco delivers an expressive st...
5456,s5457,TV Show,Second 20s,NaN,"Choi Ji-woo, Lee Sang-yun, Choi Won-young, Kim...",South Korea,"October 16, 2019",2015,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...","Facing major changes, a mother realizes it's t..."
5457,s5458,Movie,Secret,Jay Chou,"Jay Chou, Lun-Mei Kwai, Anthony Wong Chau-Sang...","Hong Kong, Taiwan","July 1, 2018",2007,TV-PG,101 min,"Dramas, International Movies, Music & Musicals",Enchanted by a pretty pianist and the haunting...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [4]:
df.nunique()

show_id         7787
type               2
title           7787
director        4049
cast            6831
country          681
date_added      1565
release_year      73
rating            14
duration         216
listed_in        492
description     7769
dtype: int64

In [5]:
df.isna().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

In [6]:
tfidf_vectorizer = TfidfVectorizer(stop_words = 'english')

In [7]:
df['description'] = df['description'].fillna('')

In [8]:
tfidf_matrix = tfidf_vectorizer.fit_transform(df['description'])
tfidf_matrix.shape

(7787, 17905)

In [9]:
cosine_similarity = linear_kernel(tfidf_matrix,tfidf_matrix)

In [76]:
movies = df[['title']]

In [68]:
movies.head()

   title
0     3%
1   7:19
2  23:59
3      9
4     21

In [101]:
movies = pd.Series(df.index,index=df['title'])
movies.head()

title
3%       0
7:19     1
23:59    2
9        3
21       4
dtype: int64

In [102]:
def get_movie_recommendations(title, cosine_similarity=cosine_similarity):
    index=movies[title]
    similarity_scores=list(enumerate(cosine_similarity[index]))
    similarity_scores=sorted(similarity_scores, key=lambda x:x[1], reverse=True)
    similarity_scores=similarity_scores[1:11]
    movie_indices = [i[0] for i in similarity_scores]
    return df['title'].iloc[movie_indices]

In [117]:
get_movie_recommendations('Spider-Man: Into the Spider-Verse')

2676                                      Heartbreak High
4332    My Little Pony Equestria Girls: Legend of Ever...
7415                                               Victor
5753                                         Spider-Man 3
3958         Marvel & ESPN Films Present: 1 of 1: Genesis
2375                                            Gentefied
3576                         LEGENDS OF THE HIDDEN TEMPLE
2104                                         Family Blood
7192                            Transformers: Rescue Bots
5281                                                Roped
Name: title, dtype: object